@model SWD392_Meraki_Web.Models.CheckIn

<h2>Booking Details</h2>

<div>
    <p><strong>User:</strong> @Model.CheckedByNavigation.Username</p>
    <p><strong>Email:</strong> @Model.CheckedByNavigation.Email</p>
    <p><strong>Booking ID:</strong> @Model.BookingId</p>
    <p><strong>Check-In Time:</strong> @Model.CheckInTime</p>
</div>
