@model User

<div asp-validation-summary="All"></div>
<form method="post">
    
    <div>
        <label asp-for="PhoneNumber">Phone Number</label>
        <div>
            <input type="text" asp-for="PhoneNumber">
        </div>
    </div>

    <div>
        <label asp-for="Gender">Gender</label>
        <div>
            <input type="text" asp-for="Gender">
        </div>
    </div>

    <div>
        <label asp-for="Address">Address</label>
        <div>
            <input type="text" asp-for="Address">
        </div>
    </div>

    <div>
        <label asp-for="Birthday">Birthday</label>
        <div>
            <input type="date" asp-for="Birthday">
        </div>
    </div>

    <button type="submit">Save</button>
</form>
